 {% include 'header.html' %}
<!-- About -->
<div class="container" id="about">
    <div class="row">
        <div class="col-md-12">
            <div class="main_heading">
                <h1>About us</h1>
                <div class="text-center"><span class="underline"></span></div>
            </div>
        </div>
        <!-- End col-md-12 -->
    </div>
    <!-- End row -->


    <div class="row">
        <div class="col-md-4 about-us-box wow fadeInUp animated">
            <div class="about-us-photo">
                <img src="images/1.jpg" alt="">
                <div class="about-us-role">Sejarah</div>
            </div>
            <h3>John Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>

        <div class="col-md-4 about-us-box wow fadeInUp animated">
            <div class="about-us-photo">
                <img src="images/2.jpg" alt="">
                <div class="about-us-role">Alamat</div>
            </div>
            <h3>John Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>

        <div class="col-md-4 about-us-box wow fadeInUp animated">
            <div class="about-us-photo">
                <img src="images/3.jpg" alt="">
                <div class="about-us-role">No. Telp</div>
            </div>
            <h3>John Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
    </div>
    <!-- End row -->

</div>
<!-- End container -->
<!-- End About -->
{% include 'footer.html' %}