{% include 'header.html' %}
<div class="container" id="dbuku">
    <div class="row">
        <div class="col-md-12">
            <div class="main_heading">
                <h1>Daftar Buku</h1>
                <div class="text-center"><span class="underline"></span></div>
            </div>
        </div>
        <!-- End col-md-12 -->
    </div>
    <!-- End row -->

    <div class="col-md-4 services-box-gray col-sm-6">
        <div class="services-box">
            <i class="fa fa-book"></i>
            <h4>Informatika</h4>
            <p>Buku Jaringan, Buku Bahasa Pemograman, Buku Desain Grafis, Dan Lain-lain.</p>
        </div>
    </div>
    <!-- End col-md-4-->
    <div class="col-md-4 col-sm-6">
        <div class="services-box">
            <i class="fa fa-book"></i>
            <h4>Bahasa</h4>
            <p>Buku Bahasa Inggris, Buku Bahasa Jepang, Buku Bahasa Francis, Dan Lain-lain.</p>
        </div>
    </div>
    <!-- End col-md-4-->
    <div class="col-md-4 services-box-gray col-sm-6">
        <div class="services-box">
            <i class="fa fa-book"></i>
            <h4>Sejarah</h4>
            <p>Buku Sejarah Islam, Buku Sejarah Indonesia, Buku Sejarah Manusia, Dan Lain-lain.</p>
        </div>
    </div>
    <!-- End col-md-4-->
    <div class="col-md-4 col-sm-6">
        <div class="services-box">
            <i class="fa fa-book"></i>
            <h4>Sosial</h4>
            <p>Buku Ekonomi, Buku Sosial Budaya, Buku Sejarah Sosial, Dan Lain-lain.</p>
        </div>
    </div>
    <!-- End col-md-4-->
    <div class="col-md-4 services-box-gray col-sm-6">
        <div class="services-box">
            <i class="fa fa-book"></i>
            <h4>Matematika</h4>
            <p>Buku Matematika Dasar, Buku Matematika Lanjutan, Buku Aljabar, Dan Lain-lain.</p>
        </div>
    </div>
    <!-- End col-md-4-->
    <div class="col-md-4 col-sm-6">
        <div class="services-box">
            <i class="fa fa-book"></i>
            <h4>Saint</h4>
            <p>Buku IPA, Buku Biologi, Buku Saint, Dan Lain-lain.</p>
        </div>
    </div>
    <!-- End col-md-4-->


</div>
<!-- End container -->

<!-- End Services -->
{% include 'footer.html' %}