{% include 'header.html' %}

<!-- Feature -->

<div class="container" id="index">
    <div class="row">
        <div class="col-md-12">
            <div class="main_heading">
                <h1>Founder</h1>
                <div class="text-center"><span class="underline"></span></div>
            </div>
        </div>
        <!-- End col-md-12 -->
    </div>
    <!-- End row -->

    <div class="more-feature-div">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/riku.jpg">
                </div>
                <!-- End col-md-6-->
                <div class="col-md-6">
                    <div class="more-features-div">
                        <div class="more-features-div-icon"><i class="fa fa-user"></i></div>
                        <h3 class="more-features-div-heading">Rijal Khoerul Umam</h3>
                        <div class="more-features-div-description">
                            NPM: 19552011097 TIF RM 19A
                        </div>
                    </div>

                </div>
                <!-- End col-md-6-->
            </div>
            <!-- End row -->
        </div>
        <!-- ENd container -->
    </div>

    <!-- End Feature -->

    <!-- Services -->

    {% include 'footer.html' %}